# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

Documents/
.env
.env.local
Tickets - Odoo x Adani University Hackathon '26  (01_24_2026 09_00_00 AM) - Vrajesh Sharma.pdf